body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #4CAF50;
    /*background: linear-gradient(45deg, rgba(147,242,237,1) 0%, rgba(17,25,54,1) 35%, rgba(167,123,243,1) 100%);*/
    color: white;
    text-align: center;
    padding: 1em 0;
}


nav {
    background-color: #575757;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

#poster img {
    display: block;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

#poster p {
    text-align: start;
}

#poster a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #4CAF50;
    padding: 0.5em 1em;
    border-radius: 5px;
}

#poster a:hover {
    background-color: #4CAF50;
    color: #1E1E1E;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    flex: 1 1 21%; /* Her bir üyenin genişliği yüzde 21 olacak, kalan yüzde 16 boşluk olarak paylaşılacak */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1em;
}

.member-info {
    text-align: center;
}

.member-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #4CAF50;
}

.member-info p {
    margin: 0.5em 0;
    font-size: 1em;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

#advisor h2{
    text-align: center;
}